<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout">

<th:block layout:fragment="content">
	<div class="error-page">
            <h2 class="headline text-green"> 400</h2>
            <div class="error-content">
              <h3><i class="fa fa-warning text-green"></i> Oops! Solicitação inválida!</h3>
              <p>
                Algum problema aconteceu! Informe o suporte técnico.
                <a th:href="@{/}">Ir para a página de login!</a>
              </p>
            </div>
    </div>
</th:block>
</html>