<!DOCTYPE html>
<html class="no-js" lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>LOGIN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <meta name="description" content="Login do sistema WEBOS"></meta>
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class"></meta>
        <meta name="author" content="Felipe Miguel"></meta>
        
        <meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="pragma" content="no-cache" />
		
        <!-- <link rel="shortcut icon" href="../favicon.ico"></link> -->
        <link rel="stylesheet" type="text/css" th:href="@{/dist/css/layout/demo.css}"></link>
        <link rel="stylesheet" type="text/css" th:href="@{dist/css/layout/style.css}"></link>
		<link rel="stylesheet" type="text/css" th:href="@{/dist/css/layout/animate-custom.css}"></link>
    </head>
    <body>
        <div class="container">
            <div class="codrops-top">
                <a>
                    <strong>&raquo; Licença: </strong><span>XOPS-9987-QPOIW-MN54</span>
                    <strong>| Vencimento: </strong><span style="color: black; font-weight: none;">18 dias</span>
                </a>
                <div class="clr"></div>
            </div>
            <header>
                <h1>Web<span>OS</span></h1>
            </header>
            <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form autocomplete="off"> 
                                <h1>Log in</h1> 
                                <p> 
                                    <label for="username" class="uname" data-icon="u" > Usuário </label>
                                    <input id="username" name="username" required="required" type="text" placeholder="Informe aqui seu usuário"/>
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p"> Senha </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="Informe aqui sua senha" /> 
                                </p>
                                <!-- <p class="keeplogin"> 
									<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" /> 
									<label for="loginkeeping">Keep me logged in</label>
								</p> -->
                                <p class="login button"> 
                                    <a th:href="@{/pagina_inicial}" type="submit">Acessar</a > 
								</p>
                                <p class="change_link">
									Esqueceu a senha?
									<a href="#toregister" class="to_register">Clique aqui</a>
								</p>
                            </form>
                        </div>

                        <div id="register" class="animate form">
                            <form autocomplete="off"> 
                                <h1>Recuperar senha</h1> 
                                <p> 
                                    <label for="emailsignup" class="youmail" data-icon="e" >Seu E-mail</label>
                                    <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="Informe um e-mail válido"/> 
                                </p>
                                <p class="signin button"> 
									<input type="submit" value="Enviar"/> 
								</p>
                                <p class="change_link">  
									<a href="#tologin" class="to_register">Voltar</a>
								</p>
                            </form>
                        </div>
                    </div>
                </div>  
            </section>
        </div>
    </body>
</html>