<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<meta charset="UTF-8" />
<title>Cadastro movimento caixa</title>

</head>

<body>

	<section layout:fragment="header">
		<br />
		<ol class="breadcrumb">
			<li><a th:href="@{/movimento_caixa}"> <i
					class="glyphicon glyphicon-arrow-left"></i> <span style="font-weight: bold;">Voltar</span>
			</a></li>
			<li class="active">Cadastro movimento caixa</li>
		</ol>
	</section>

	<div layout:fragment="content">
		<form method="POST" th:object="${movimentoCaixa}" th:action="@{/movimento_caixa/salvar_movimento_caixa}" onsubmit="desabilitarBotao()">
		
		 <input type="hidden" th:field="*{id}"/> 
		
		<div layout:include = "view/mensagens/mensagem"></div> 
			 
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"><span th:text="${id == null ? 'Novo movimento de caixa' : 'Editar movimento de caixa'}"></span></h3>
			</div>
			<div class="box-body">
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group" th:classappend="${#fields.hasErrors('contaCaixa')} ? has-error">
					           <label class="control-label">Conta Caixa</label>
					           <select class="form-control input_forms input-sm" th:field="*{contaCaixa}">
									<option th:each="cf : ${contasFinanceira}" th:value="${cf.id}" th:text="${cf.descricao}"></option>
							   </select>
				        </div>
					</div>
					<div class="col-md-3">
								<div class="form-group">
				                <label>Data Movimento</label>
				                <div class="input-group date input_forms" th:classappend="${#fields.hasErrors('dataMovimento')} ? has-error">
				                  <div class="input-group-addon">
				                    <i class="fa fa-calendar"></i>
				                  </div>
				                  <input type="text" class="form-control pull-right input_forms input-sm datemask" th:field="*{dataMovimento}"/>
				                </div>
				              </div>
				    </div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group" th:classappend="${#fields.hasErrors('parceiro')} ? has-error">
					           <label class="control-label">Parceiro</label>
					           <select class="form-control input_forms input-sm" th:field="*{parceiro}">
									<option th:each="parc : ${parceiros}" th:value="${parc.id}" th:text="${parc.parceiro}"></option>
							   </select>
				        </div>
					</div>
					<div class="col-xs-3">
				        <div class="form-group" th:classappend="${#fields.hasErrors('valorMovimento')} ? has-error">
				               <label>Valor</label>
				               <input type="text" class="form-control input_forms input-sm caixa_alta js-currency" th:field="*{valorMovimento}"/>
				        </div>
				    </div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="submit" class="btn cor_atalho_dashboard js-disabled">
			                <i class="fa fa-save"></i> Salvar
			            </button>
					</div>
				</div>
			</div>
			
			
		</div>
	</form>
		
	</div>
	
</body>
</html>