<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<meta charset="UTF-8"/>
	<title>Movimento de Caixa</title>
	
</head>

<body>

	<section layout:fragment="header">
		<br />
		<ol class="breadcrumb">
			<li>
				<a th:href="@{/pagina_inicial}">
					<i class="fa fa-desktop"></i>
					Dashboard
				</a>
			</li>
			<li class="active">Movimento de caixa</li>
		</ol>
	</section>

	<div layout:fragment="content">
		<form class="js-form" method="GET" th:object="${movimentoCaixa}" th:action="@{/movimento_caixa/pesquisar_movimento}">
		
			<div layout:include = "view/mensagens/mensagem"></div> 
	
			<div class="row">
				<div class="col-md-3">
		            <a th:href="@{/movimento_caixa/cadastro_movimento_caixa}" class="btn cor_atalho_dashboard">
		                <span class="glyphicon glyphicon-plus-sign"></span> Adicionar
		            </a>
				</div>
			</div>
				
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Movimento de Caixa</h3>
					<div class="box-tools">
					
					</div>
				</div>
				
				<div class="box-body">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
					                  <label class="control-label">Conta caixa</label>
					                    <select class="form-control input_forms input-sm" th:field="*{contaCaixa}">
											 <option th:each="c : ${contasFinanceira}" th:value="${c.id}" th:text="${c.descricao}"></option>
									    </select>
				                </div>
				           </div>
				           <div class="col-md-3">     
				                <div class="form-group">
					                  <label class="control-label">Data Movimento</label>
					                    <div class="input-group date input_forms">
							                <div class="input-group-addon">
							                    <i class="fa fa-calendar"></i>
							                </div>
							                <input type="text" class="form-control pull-right input_forms input-sm datemask" th:field="*{dataMovimento}" placeholder="Dia/Mês/Ano"/>
							             </div>
				                </div>
				          </div>
				          <div class="col-md-3">
								<div class="form-group position_buttons">
					                    <button type="submit" class="btn cor_atalho_dashboard" id="data" name="data">
							             	<i class="fa fa-save"></i> Pesquisar
							        	</button>
					           </div>
				           </div>
						</div>
					
				
					<table class="table table-condensed table-hover">
						<thead>
							<tr>
								<th>Parceiro</th>
								<th>Conta Caixa</th>
								<th>Tipo Origem</th>
								<th>Valor</th>
								<th style="width: 5px;"><i class=""></i></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="mc : ${movimentoDeCaixa}">
								<td th:text="${mc.parceiro.parceiro}"></td>
								<td th:text="${mc.contaCaixa.descricao}"></td>
								<td th:text="${mc.tipoOrigemMovimento}"></td>
								<td th:text="|R$: ${{mc.valorMovimento}}|"></td>
								<td>
									<a class="btn btn-link btn-xs" style="color: black;" data-toggle="modal" data-target="#excluirMovimentoCaixaFinanceiro" 
										th:attr="data-id = ${mc.id}, data-parceiro = ${mc.parceiro.parceiro}, data-conta = ${mc.contaCaixa.descricao}, data-valor = ${mc.valorMovimento}">
										<span class="fa fa-times"></span>
									</a>
								</td>
							</tr>
							 <tr>
								<td colspan="6" th:if="${#lists.isEmpty(movimentoDeCaixa)}">Nenhum registro encontrado!</td>
							</tr> 
						</tbody>
					</table>
				</div>
				<div class="box-footer clearfix">
					<ul class="pagination pagination-sm no-margin pull-right">
						<li><a href="#">&laquo;</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div>
			</div>
			
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Resumo de caixa</h3>
				</div>
				<div class="box-body">
					<table class="table">
						<tbody>
							<tr>
								<th>Saldo Inicial</th>
								<th>Total de Entrada</th>
								<th>Total de Saída</th>
								<th>Saldo Operacional</th>
								<th>Saldo Final</th>
							</tr>
							<tr th:each="rc : ${resumoCaixa}">
								<td>
									<span class="label label-default table_resumo_financeiro_tamanho_fonte" th:text="|R$: ${{rc.saldoInicial}}|"></span>
								</td>
								<td>
									<span class="label bg-blue table_resumo_financeiro_tamanho_fonte" th:text="|R$: ${{rc.totalEntrada}}|"></span>
								</td>
								<td>
									<span class="label bg-maroon table_resumo_financeiro_tamanho_fonte" th:text="|R$: ${{rc.totalSaida}}|"></span>
								</td>
								<td>
									<span class="label bg-olive table_resumo_financeiro_tamanho_fonte" th:text="|R$: ${{rc.SaldoOperacional}}|"></span>
								</td>
								<td>
									<span class="label label-default table_resumo_financeiro_tamanho_fonte" th:text="|R$: ${{rc.SaldoFinal}}|"></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		 </form>
		 
			<div layout:include = "view/dialog/dialog-movimento-caixa-financeiro"></div>
		</div>
</body>
</html>