<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<meta charset="UTF-8" />
<title>Listagem de Cliente</title>

</head>

<body>

	<section layout:fragment="header">
		<br />
		<ol class="breadcrumb">
			<li><a th:href="@{/cliente}"> <i
					class="glyphicon glyphicon-arrow-left"></i> <span style="font-weight: bold;">Voltar</span>
			</a></li>
			<li class="active">Cadastro de cliente</li>
		</ol>
	</section>

	<div layout:fragment="content">
		<form method="POST" th:object="${cliente}" th:action="@{/cliente}" onsubmit="desabilitarBotao()">
		
		<input type="hidden" th:field="*{id}"/>
		
		<div layout:include = "view/mensagens/mensagem"></div>
			 
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"><span th:text="${id == null ? 'Novo cliente' : 'Editar cliente'}"></span></h3>
			</div>
			<div class="box-body">
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#tab_1" data-toggle="tab">Dados gerais</a></li>
						<li><a href="#tab_2" class="tab_tipo_pessoa" data-toggle="tab">Pessoa Física</a></li>
						<!-- <li><a href="#tab_3" class="tab_tipo_pessoa" data-toggle="tab">Pessoa Jurídica</a></li> -->
						<li><a href="#tab_4" data-toggle="tab">Endereço</a></li>
						<li><a href="#tab_5" data-toggle="tab">Contato</a></li>
						<li><a href="#tab_6" data-toggle="tab">Crédito</a></li>
					</ul>
				</div>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1">
						<div class="row">
							<div class="col-md-3">
								  <label>Tipo Pessoa</label>
				                  <select id="cb_tipo_pessoa" class="form-control input_forms input-sm" th:field="*{tipoPessoa}">
				                  	<!-- <option value="">Selecione o tipo de pessoa</option> -->
				                    <option th:each="tipo : ${tipoPessoas}" th:value="${tipo}" th:text="${tipo.descricao}"
				                            th:attr="data-tipoPessoa=${tipo.descricao}"></option>
				                  </select>
							</div>
							<div class="col-md-6">
								<div class="form-group" th:classappend="${#fields.hasErrors('parceiro')} ? has-error">
				                  <label for="nome">Nome</label>
				                  <input type="text" class="form-control input_forms input-sm caixa_alta" id="nome" th:field="*{parceiro}" autofocus="autofocus"/>
				                </div>
							</div>
							<div class="col-md-3">
								<label>Situação</label>
				                  <select id="cb_situacao" class="form-control input_forms input-sm" th:field="*{situacao}">
				                    <option th:each="s : ${situacao}" th:value="${s}" th:text="${s}"></option>
				                  </select>
							</div>
						</div>
						<div class="row">	
							<div class="col-md-12">
								<div class="form-group">
				                  <label>Observação</label>
				                  <textarea class="form-control input_forms input-sm caixa_alta" rows="3" th:field="*{observacao}"></textarea>
				                </div>
							</div>
						</div>
					</div>
					
					<div class="tab-pane" id="tab_2">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group" th:classappend="${#fields.hasErrors('cpf')} ? has-error">
				                  <label for="cpf">CPF</label>
				                  <input type="text" class="form-control input_forms input-sm cpf" id="cpf" th:field="*{cpf}"/>
				                </div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
				                  <label for="rg">RG</label>
				                  <input type="text" class="form-control input_forms input-sm" id="rg" th:field="*{rg}"/>
				                </div>
							</div>
							<div class="col-md-3">
								  <label>Ôrgão expedidor</label>
				                  <select class="form-control input_forms input-sm" th:field="*{orgaoExpedidor}">
				                    <option value="" th:text="'CNH'"></option>
				                    <option value="" th:text="'SSP'"></option>
				                  </select>
							</div>
							<div class="col-md-3">
								  <label>UF Ôrgão expedidor</label>
				                  <select class="form-control input_forms input-sm" th:field="*{uf}">
				                    <option value="" th:text="'GO'"></option>
				                    <option value="" th:text="'DF'"></option>
				                    <option value="" th:text="'SP'"></option>
				                    <option value="" th:text="'MT'"></option>
				                  </select>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
				                <label>Data de aniversário</label>
				                <div class="input-group date input_forms">
				                  <div class="input-group-addon">
				                    <i class="fa fa-calendar"></i>
				                  </div>
				                  <input type="text" class="form-control pull-right input_forms input-sm datemask" th:field="*{dataNascimento}"/>
				                </div>
				              </div>
							</div>
							<div class="col-md-3">
								  <label>Sexo</label>
				                  <select class="form-control input_forms input-sm" th:field="*{sexo}">
				                    <option th:text="'MASCULINO'" value=""></option>
				                    <option th:text="'FEMININO'" value=""></option>
				                  </select>
							</div>
						</div>
					</div>
					
					<div class="tab-pane" id="tab_3">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
				                  <label for="cnpj">CNPJ</label>
				                  <input type="text" class="form-control input_forms input-sm cnpj" id="cnpj" th:field="*{cnpj}"/>
				                </div>
							</div>
						</div>
						<div class="row">	
							<div class="col-md-6">
								<div class="form-group">
				                  <label for="rs">Razão Social</label>
				                  <input type="text" class="form-control input_forms input-sm caixa_alta" id="rs" th:field="*{razaoSocial}"/>
				                </div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
				                  <label for="nf">Nome Fantasia</label>
				                  <input type="text" class="form-control input_forms input-sm caixa_alta" id="nf" th:field="*{nomeFantasia}"/>
				                </div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
				                  <label for="st">Inscrição Estadual</label>
				                  <input type="text" class="form-control input_forms input-sm" id="st" th:field="*{inscricaoEstadual}"/>
				                </div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
				                  <label for="stst">Inscrição Estadual ST</label>
				                  <input type="text" class="form-control input_forms input-sm" id="stst" th:field="*{inscricaoEstadualST}"/>
				                </div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
				                  <label for="stmc">Inscrição Municipal</label>
				                  <input type="text" class="form-control input_forms input-sm" id="stmc" th:field="*{inscricaoMunicipal}"/>
				                </div>
							</div>
						</div>
					</div>
					
					<div class="tab-pane" id="tab_4">
						<div class="row">
							<div class="col-md-2">
								<div class="form-group">
				                  <label for="cep">CEP</label>
				                  <input type="text" class="form-control input_forms input-sm cep" id="cep" 
				                  data-toggle="tooltip" data-placement="top" title="Use a tecla 'TAB' para procurar o endereço pelo CEP informado!" th:field="*{cep}"/>
				                </div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
				                  <label for="uf">UF</label>
				                  <input type="text" class="form-control input_forms input-sm caixa_alta" id="uf" th:field="*{uf}" size="2" maxlength="2"/>
				                </div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
				                  <label for="mc">Município</label>
				                  <input type="text" class="form-control input_forms input-sm caixa_alta" id="mc" th:field="*{municipio}"/>
				                </div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
				                  <label for="lg">Logradouro</label>
				                  <input type="text" class="form-control input_forms input-sm caixa_alta" id="lg" th:field="*{logradouro}"/>
				                </div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-2">
								<div class="form-group">
				                  <label for="n">Número</label>
				                  <input type="text" class="form-control input_forms input-sm caixa_alta" id="n" th:field="*{numero}"/>
				                </div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
				                  <label for="cp">Complemento</label>
				                  <input type="text" class="form-control input_forms input-sm caixa_alta" id="cp" th:field="*{complemento}"/>
				                </div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
				                  <label for="brr">Bairro</label>
				                  <input type="text" class="form-control input_forms input-sm caixa_alta" id="brr" th:field="*{bairro}"/>
				                </div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-7">
								<div class="form-group">
				                  <label for="pr">Ponto de referencia</label>
				                  <input type="text" class="form-control input_forms input-sm caixa_alta" id="pr" th:field="*{pontoReferencia}"/>
				                </div>
							</div>
						</div>
					</div>
					
					<div class="tab-pane" id="tab_5">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
				                  <label for="fone_residencial">Telefone Residencial</label>
				                  <input type="text" class="form-control input_forms input-sm fone_residencial" id="fone_residencial" th:field="*{telefoneResidencial}"/>
				                </div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
				                  <label for="fone_celular">Telefone Celular</label>
				                  <input type="text" class="form-control input_forms input-sm fone_celular" id="fone_celular" th:field="*{telefoneCelular}"/>
				                </div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
				                  <label for="ramal">Ramal</label>
				                  <input type="text" class="form-control input_forms input-sm" id="ramal" th:field="*{ramal}"/>
				                </div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
				                  <label for="email">E-mail</label>
				                  <input type="text" class="form-control input_forms input-sm" id="email" th:field="*{email}"/>
				                </div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
				                  <label for="site">Site</label>
				                  <input type="text" class="form-control input_forms input-sm" id="site" th:field="*{site}"/>
				                </div>
							</div>
						</div>
					</div>
					
					<div class="tab-pane" id="tab_6">
						<div class="row">
							<div class="col-md-2">
								<div class="form-group">
				                  <label for="multa">% Multa</label>
				                  <input type="text" class="form-control input_forms input-sm" id="multa" th:field="*{multa}"/>
				                </div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
				                  <label for="mora">% Mora</label>
				                  <input type="text" class="form-control input_forms input-sm" id="mora" th:field="*{mora}"/>
				                </div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
				                  <label for="diasToleran">Dias tolerância</label>
				                  <input type="text" class="form-control input_forms input-sm" id="diasToleran" th:field="*{diasTolerancia}"/>
				                </div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
				                  <label for="diasBloqueio">Dias bloqueio</label> 
				                  <input type="text" class="form-control input_forms input-sm" id="diasBloqueio" th:field="*{diasBloqueio}"/>
				                </div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
				                  <label for="diasPrazoPagam">Dias prazo pagamento</label>
				                  <input type="text" class="form-control input_forms input-sm" id="diasPrazoPagam" th:field="*{diasPrazoPagamento}"/>
				                </div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="submit" class="btn cor_atalho_dashboard js-disabled">
			                <i class="fa fa-save"></i> Salvar
			            </button>
					</div>
				</div>
			</div>
		</div>
	</form>
		
	</div>
	
</body>
</html>