<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<meta charset="UTF-8"/>
	<title>Listagem de Cliente</title>
	
</head>

<body>

	<section layout:fragment="header">
		<br />
		<ol class="breadcrumb">
			<li>
				<a th:href="@{/}">
					<i class="fa fa-desktop"></i>
					Dashboard
				</a>
			</li>
			<li class="active">Listagem de clientes</li>
		</ol>
	</section>

	<div layout:fragment="content">
	
		<form th:object="${cliente}" method="POST" th:action="@{/cliente}">
		
			<div layout:include = "view/mensagens/mensagem"></div>
	
			<div class="row">
				<div class="col-md-3">
		            <a th:href="@{/cliente/cadastrar_cliente}" class="btn cor_atalho_dashboard">
		                <span class="glyphicon glyphicon-plus-sign"></span> Novo cliente
		            </a>
				</div>
			</div>
				
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Listagem de clientes</h3>
					<div class="box-tools">
						<div class="input-group input-group-sm" style="width: 300px;">
							<input type="text" class="form-control input-sm pull-right" placeholder="Procurar nome do cliente"/>
							<div class="input-group-btn">
								<button type="submit" class="btn btn-sm btn-default">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="box-body">
					<table class="table table-condensed table-hover">
						<thead>
							<tr>
								<th style="width: 30px;">#</th>
								<th>Nome</th>
								<th style="width: 150px;">CPF</th>
								<th style="width: 100px;">Município</th>
								<th style="width: 120px;">Telefone</th>
								<th>Situação</th>
								<th style="width: 5px;"><i class=""></i></th>
								<th style="width: 5px;"><i class=""></i></th>
								<th style="width: 5px;"><i class=""></i></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cliente : ${clientes}">
								<td th:text="${cliente.id}" style="font-weight: bold;"></td>
								<td th:text="${cliente.parceiro}"></td>
								<td th:text="${cliente.cpf != ''} ? ${cliente.cpf} : ${cliente.cnpj}"></td>
								<td th:text="${cliente.municipio}"></td>
								<td th:text="${cliente.telefoneCelular}"></td>
								<td><span class="label" th:text="${cliente.situacao}" th:classappend="${#strings.toString(cliente.situacao) == 'ATIVO' ? 'label-success' : 'label-danger'}" ></span></td>
								<td>
									<a th:href="@{'/cliente/visualizar_cliente/' + ${cliente.id}}" class="btn btn-link btn-xs" style="color: black;" data-toggle="tooltip" data-placement="top" title="Visualizar">
										<span class="glyphicon glyphicon-eye-open"></span>
									</a>
								</td>
								<td>
									<a th:href="@{/cliente/editar_cliente/{id}(id=${cliente.id})}" class="btn btn-link btn-xs" style="color: black;" data-toggle="tooltip" data-placement="top" title="Editar">
										<span class="glyphicon glyphicon-pencil"></span>
									</a>
								</td>
							</tr>
							<tr>
								<td colspan="6" th:if="${#lists.isEmpty(clientes)}">Nenhum registro encontrado!</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box-footer clearfix">
					<ul class="pagination pagination-sm no-margin pull-right">
						<li><a href="#">&laquo;</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div>
			</div>
		  </form>
		</div>
</body>
</html>