<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<meta charset="UTF-8" />
<title>Listagem de Cliente</title>

</head>

<body>

	<section layout:fragment="header">
		<br />
		<ol class="breadcrumb">
			<li><a th:href="@{/cliente}"> <i
					class="fa fa-pencil-square-o"></i> Listagem de cliente
			</a></li>
			<li class="active">Dados do cliente</li>
		</ol>
	</section>

	<div layout:fragment="content">

		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#tab_1" data-toggle="tab">Dados do cliente</a>
				</li>
				<li><a href="#tab_2" data-toggle="tab">Ordens de serviço</a></li>
				<li><a href="#tab_3" data-toggle="tab">Financeiro</a></li>
				<li class="pull-right">
					<a href="#" class="text-muted" style="color: black;"></a>
				</li>
			</ul>
		<form method="GET" th:object="${cliente}">
			<div class="tab-content">
				<div class="tab-pane active" id="tab_1">
					<div class="row">
						<div class="col-md-6">
							<div class="box">
								<div class="box-header with-border">
									<i class="fa fa-star" aria-hidden="true"> Perfil</i>
								</div>
								<div>
									<div class="box-body table-condensed">
						              <table class="table table-hover">
						                <tr>
						                  <td><i class="fa fa-user" aria-hidden="true"></i><strong> Nome</strong></td>
						                  <td th:text="*{nome}"></td>
						                </tr>
						                <tr>
						                  <td><i class="fa fa-file-text-o" aria-hidden="true"></i><strong> CPF/CNPJ</strong></td>
						                  <td th:text="*{cpf != ''} ? *{cpf} : *{cnpj}"></td>
						                </tr>
						                <tr>
						                  <td><i class="fa fa-file-text" aria-hidden="true"></i><strong> RG</strong></td>
						                  <td th:text="*{rg}"></td>
						                </tr>
						                <tr>
						                  <td><i class="fa fa-calendar" aria-hidden="true"></i><strong> Data de Nascimento</strong></td>
						                  <td th:if="*{dataNascimento != ''} ? *{dataNascimento} : 'Data de nascimento não informado'"></td>
						                </tr>
						              </table>
						            </div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="box">
								<div class="box-header with-border">
									<i class="fa fa-info-circle" aria-hidden="true"> Outras Informações</i> 
								</div>
								<div>
									<div class="box-body table-condensed">
						              <table class="table table-hover">
						                <tr>
						                  <th> Logradouro</th>
						                  <th> Complemento</th>
						                </tr>
						                <tr>
						                  <td th:text="*{logradouro}"></td>
						                  <td th:text="*{complemento}"></td>
						                </tr>
						                <tr>
						                  <th> Bairro</th>
						                  <th> Município</th>
						                </tr>
						                <tr>
						                  <td th:text="*{bairro}"></td>
						                  <td th:text="*{municipio}"></td>
						                </tr>
						              </table>
						              <table class="table table-hover">
						                <tr>
						                  <th> Endereço de cobrança</th>
						                  <th></th>
						                </tr>
						                <tr>
						                  <td>Endereço não preenchido</td>
						                </tr>
						              </table>
						            </div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="box">
								<div class="box-header with-border">
									<i class="fa fa-star" aria-hidden="true"> Contatos</i> 
								</div>
								<div>
									<div class="box-body table-condensed">
						              <table class="table table-hover">
						              	<tr>
							              	<th><i class="fa fa-phone-square" aria-hidden="true"></i><strong> Telefone Residencial</strong></th>
						              		<th>
							              		<i class="fa fa-mobile" aria-hidden="true"></i><strong> Telefone Celular</strong>
						              		</th>
						              		<th><i class="fa fa-envelope" aria-hidden="true"></i><strong> E-mail</strong></th>
							             </tr>
						                <tr>
						                  <td th:text="*{telefoneResidencial}"></td>
						                  <td th:text="*{telefoneCelular}"></td>
						                  <td th:text="*{email}"></td>
						                </tr>
						              </table>
						            </div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-3">
							<div class="info-box cor_atalho_dashboard">
								 <span class="info-box-icon"><i class="fa fa-desktop" aria-hidden="true"></i></span>
							     <div class="info-box-content">
									 <span class="info-box-text">Equipamentos</span>
								     <span class="info-box-number">0</span>
									 <div class="progress">
									     <div class="progress-bar" style="width: 100%"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="info-box cor_atalho_dashboard">
								 <span class="info-box-icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
							     <div class="info-box-content">
									 <span class="info-box-text">OS</span>
								     <span class="info-box-number">0</span>
									 <div class="progress">
									     <div class="progress-bar" style="width: 100%"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="info-box cor_atalho_dashboard">
								 <span class="info-box-icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span>
							     <div class="info-box-content">
									 <span class="info-box-text">Vendas</span>
								     <span class="info-box-number">0</span>
									 <div class="progress">
									     <div class="progress-bar" style="width: 100%"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="info-box cor_atalho_dashboard">
								 <span class="info-box-icon"><i class="fa fa-money" aria-hidden="true"></i></span>
							     <div class="info-box-content">
									 <span class="info-box-text">Lançamentos</span>
								     <span class="info-box-number">0</span>
									 <div class="progress">
									     <div class="progress-bar" style="width: 100%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- TAB OS -->
				<div class="tab-pane" id="tab_2">
					<div class="box">
						<div class="box-header with-border">
							<h3 class="box-title">Ordem de Serviços <span class="texto_negrito">Abertas</span> ou <span class="texto_negrito">Em andamento</span></h3>
							<div class="box-tools">
								<div class="input-group input-group-sm" style="width: 200px;">
									<input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Procurar ordem de serviço"/>
									<div class="input-group-btn">
										<button class="btn btn-sm btn-default">
											<i class="fa fa-search"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="box-body">
							<table class="table table-condensed table-hover">
								<thead>
									<tr>
										<th style="width: 50px;">#</th>
										<th>Data Inicial</th>
										<th>Data Final</th>
										<th>Status</th>
										<th>Prioridade</th>
										<th>Responsável</th>
										<th style="width: 50px;"><i class=""></i></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1045</td>
										<td>01/10/2016</td>
										<td>09/10/2016</td>
										<td>Em andamento</td>
										<td><span class="label label-danger">Urgente</span></td>
										<td>FELIPE MIGUEL</td>
										<td>
											<a class="btn btn-link btn-xs" style="color: black;"
												data-toggle="tooltip" data-placement="top" title="Visualizar"> 
												<span class="glyphicon glyphicon-eye-open"></span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="box-footer clearfix">
							<ul class="pagination pagination-sm no-margin pull-right">
								<li><a href="#">&laquo;</a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">&raquo;</a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- TAB 3 -->
				<div class="tab-pane" id="tab_3">
					<div class="row">
						<div class="col-md-6">
							<div class="small-box bg-aqua">
					            <div class="inner">
					              <p>Total de lançamentos recebido</p>
					              <h3>R$: 150,98</h3>
					            </div>
					            <div class="icon">
					              <i class="fa fa-arrow-up"></i>
					            </div>
					            <a href="#" class="small-box-footer"></a>
					          </div>
						</div>
						<div class="col-md-6">
							<div class="small-box bg-red">
					            <div class="inner">
					              <p>Total de lançamentos pago</p>
					              <h3>R$: 58,00</h3>
					            </div>
					            <div class="icon">
					              <i class="fa fa-arrow-down"></i>
					            </div>
					            <a href="#" class="small-box-footer"></a>
					          </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="small-box cor_atalho_dashboard">
					            <div class="inner">
					              <p>Total de Lançamentos</p>
					              <h3>15</h3>
					            </div>
					            <div class="icon">
					              <i class="fa fa-bookmark-o"></i>
					            </div>
					            <a href="#" class="small-box-footer"></a>
					          </div>
						</div>
						<div class="col-md-6">
							<div class="small-box bg-yellow">
					            <div class="inner">
					              <p>Total de lançamentos pendente</p>
					              <h3>R$: 320,50</h3>
					            </div>
					            <div class="icon">
					              <i class="fa fa-retweet"></i>
					            </div>
					            <a href="#" class="small-box-footer"></a>
					          </div>
						</div>
					</div>
					
					<!-- <div class="row">
					  <div class="col-md-12">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title"></h3>
								<div class="box-tools">
									<div class="input-group input-group-sm" style="width: 300px;">
										<input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Procurar a categoria"/>
										<div class="input-group-btn">
											<button class="btn btn-sm btn-default">
												<i class="fa fa-search"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="box-body">
								<table class="table table-condensed table-hover">
									<thead>
										<tr>
											<th style="width: 30px;">Tipo</th>
											<th>Parcela</th>
											<th>Descrição</th>
											<th>Valor</th>
											<th>Vencimento</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><span class="label label-primary">Receita</span></td>
											<td>1 de 1</td>
											<td>Venda</td>
											<td>R$: 235,00</td>
											<td>12/09/2016</td>
											<td><span class="label label-success">Pago</span></td>
										</tr>
										<tr>
											<td><span class="label label-danger">Despesa</span></td>
											<td>1 de 1</td>
											<td>Cliente não pagou pelo serviço</td>
											<td>R$: 15,58</td>
											<td>12/09/2016</td>
											<td><span class="label label-success">Pago</span></td>
										</tr>
										<tr>
											<td><span class="label label-primary">Receita</span></td>
											<td>1 de 1</td>
											<td>Cliente não pagou pelo serviço</td>
											<td>R$: 405,00</td>
											<td>12/09/2016</td>
											<td><span class="label label-warning">Pendente</span></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="box-footer clearfix">
								<ul class="pagination pagination-sm no-margin pull-right">
									<li><a href="#">&laquo;</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>
							</div>
						</div>
					  </div>
					</div> -->
					
				</div>
			</div>
				</form>
		</div>
	</div>
</body>
</html>