<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<meta charset="UTF-8" />
<title>Listagem de Cliente</title>

</head>

<body>

	<section layout:fragment="header">
		<br />
		<ol class="breadcrumb">
			<li><a th:href="@{/cliente}"> <i
					class="fa fa-pencil-square-o"></i> Listagem de cliente
			</a></li>
			<li class="active">Dados do cliente</li>
		</ol>
	</section>

	<div layout:fragment="content">

		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#tab_1" data-toggle="tab">Dados do cliente</a>
				</li>
				<li><a href="#tab_2" data-toggle="tab">Ordens de serviço</a></li>
				<li><a href="#tab_3" data-toggle="tab">Financeiro</a></li>
				<li class="pull-right">
					<a href="#" class="text-muted" style="color: black;"></a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab_1">
					<div class="row">
						<div class="col-md-6">
							<div class="box">
								<div class="box-header with-border">
									<i class="fa fa-star" aria-hidden="true"> Perfil</i>
								</div>
								<div>
									<div class="box-body table-condensed">
						              <table class="table table-hover">
						                <tr>
						                  <td><i class="fa fa-user" aria-hidden="true"></i><strong> Nome</strong></td>
						                  <td>Felipe Miguel dos Santos</td>
						                </tr>
						                <tr>
						                  <td><i class="fa fa-file-text-o" aria-hidden="true"></i><strong> CPF/CNPJ</strong></td>
						                  <td>755.987.012-48</td>
						                </tr>
						                <tr>
						                  <td><i class="fa fa-file-text" aria-hidden="true"></i><strong> RG</strong></td>
						                  <td>5986987</td>
						                </tr>
						                <tr>
						                  <td><i class="fa fa-calendar" aria-hidden="true"></i><strong> Data de Nascimento</strong></td>
						                  <td>17/02/1995</td>
						                </tr>
						              </table>
						            </div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="box">
								<div class="box-header with-border">
									<i class="fa fa-info-circle" aria-hidden="true"> Outras Informações</i> 
								</div>
								<div>
									<div class="box-body table-condensed">
						              <table class="table table-hover">
						                <tr>
						                  <th> Endereço</th>
						                  <th></th>
						                </tr>
						                <tr>
						                  <td>Rua EF 25, Nº 588, CENTRO</td>
						                  <td>Rua EF 25, Nº 588, CENTRO</td>
						                </tr>
						              </table>
						              <table class="table table-hover">
						                <tr>
						                  <th> Endereço de cobrança</th>
						                  <th></th>
						                </tr>
						                <tr>
						                  <td>Endereço não preenchido</td>
						                </tr>
						              </table>
						            </div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="box">
								<div class="box-header with-border">
									<i class="fa fa-star" aria-hidden="true"> Contatos</i> 
								</div>
								<div>
									<div class="box-body table-condensed">
						              <table class="table table-hover">
						              	<tr>
						              		<th>
							              		<i class="fa fa-mobile" aria-hidden="true"></i><strong> Telefone Celular</strong>
						              		</th>
						              		<th><i class="fa fa-envelope" aria-hidden="true"></i><strong> E-mail</strong></th>
							              	<th><i class="fa fa-phone-square" aria-hidden="true"></i><strong> Telefone Residencial</strong></th>
							             </tr>
						                <tr>
						                  <td>(62) 9169-4559</td>
						                  <td>felipeanalista3@gmail.com</td>
						                  <td>(62) 3585-4599</td>
						                </tr>
						              </table>
						            </div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-3">
							<div class="info-box cor_atalho_dashboard">
								 <span class="info-box-icon"><i class="fa fa-desktop" aria-hidden="true"></i></span>
							     <div class="info-box-content">
									 <span class="info-box-text">Equipamentos</span>
								     <span class="info-box-number">5</span>
									 <div class="progress">
									     <div class="progress-bar" style="width: 100%"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="info-box cor_atalho_dashboard">
								 <span class="info-box-icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
							     <div class="info-box-content">
									 <span class="info-box-text">OS</span>
								     <span class="info-box-number">5</span>
									 <div class="progress">
									     <div class="progress-bar" style="width: 100%"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="info-box cor_atalho_dashboard">
								 <span class="info-box-icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span>
							     <div class="info-box-content">
									 <span class="info-box-text">Vendas</span>
								     <span class="info-box-number">25</span>
									 <div class="progress">
									     <div class="progress-bar" style="width: 100%"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="info-box cor_atalho_dashboard">
								 <span class="info-box-icon"><i class="fa fa-money" aria-hidden="true"></i></span>
							     <div class="info-box-content">
									 <span class="info-box-text">Lançamentos</span>
								     <span class="info-box-number">25</span>
									 <div class="progress">
									     <div class="progress-bar" style="width: 100%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- TAB OS -->
				<div class="tab-pane" id="tab_2">
					<div class="box-group" id="os">
						<div class="panel box">
							<div class="box-header with-border">
								<h4 class="box-title">
									<a data-toggle="collapse" data-parent="#os" href="#collapse4">Ordem de Serviço de nº 350</a>
								</h4>
							</div>
							<div id="collapse4" class="panel-collapse collapse in">
								<div class="box-body">
									<table class="table table-condensed">
										<thead>
										</thead>
										<tbody>
											<tr>
												<td style="width: 150px; font-weight: bold;">Data Inicial</td>
												<td>19/09/2016</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Data Final</td>
												<td>27/09/2016</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Descrição</td>
												<td>
													5s4s40d0d4s5 5s4as40 asd6540a a65s4d0a6s54 asd405
													456540a65s4d6540 65a4s0d654as0 654as0d654as065 4
													646540a6s54d 06as54d0 6a5s4d0 6a5s4d065as406d54as 0
													565a4sd06 5a4s0d65 4as06d54 as06d54 a0s65d4 0a6s5 
													6a5s4d0 6a5s4d0 6as40 d65as406 d54as06d5 4as06d 540as
													6as54d 06a5s4d 06a5s4 06as54 d6a5s4d 65as40540540540
												</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Defeito</td>
												<td>
													654a0s65d40as654d0 a6540 6as54d06 as54d0 6as54d0 6as54
													65as4d06a5s4 6a5s40d 6a5s40d 6a5s4d 06as54d 06as54d 0a6s0
													as65d4as06 54da0s6 54d0as65 4da0s65d05d4 a06s5 0500540540
												</td>
											</tr>
											<tr>
												<td style="font-weight: bold;"></td>
												<td>
													<div class="row">
														<a class="btn btn-app">
												           <i class="fa fa-eye"></i> Visualizar
												        </a>
													    <a class="btn btn-app">
												           <i class="fa fa-edit"></i> Editar
												        </a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						
						<!-- 4 -->
						<div class="panel box">
							<div class="box-header with-border">
								<h4 class="box-title">
									<a data-toggle="collapse" data-parent="#os" href="#collapse5">Ordem de Serviço de nº 351</a>
								</h4>
							</div>
							<div id="collapse5" class="panel-collapse collapse">
								<div class="box-body">
									<table class="table table-condensed table-hover">
										<thead>
										</thead>
										<tbody>
											<tr>
												<td style="width: 150px; font-weight: bold;">Data Inicial</td>
												<td>19/09/2016</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Data Final</td>
												<td>27/09/2016</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Descrição</td>
												<td>
													5s4s40d0d4s5 5s4as40 asd6540a a65s4d0a6s54 asd405
													456540a65s4d6540 65a4s0d654as0 654as0d654as065 4
													646540a6s54d 06as54d0 6a5s4d0 6a5s4d065as406d54as 0
													565a4sd06 5a4s0d65 4as06d54 as06d54 a0s65d4 0a6s5 
													6a5s4d0 6a5s4d0 6as40 d65as406 d54as06d5 4as06d 540as
													6as54d 06a5s4d 06a5s4 06as54 d6a5s4d 65as40540540540
												</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Defeito</td>
												<td>
													654a0s65d40as654d0 a6540 6as54d06 as54d0 6as54d0 6as54
													65as4d06a5s4 6a5s40d 6a5s40d 6a5s4d 06as54d 06as54d 0a6s0
													as65d4as06 54da0s6 54d0as65 4da0s65d05d4 a06s5 0500540540
												</td>
											</tr>
											<tr>
												<td style="font-weight: bold;"></td>
												<td>
													<div class="row">
														<a class="btn btn-app">
												           <i class="fa fa-eye"></i> Visualizar
												        </a>
													    <a class="btn btn-app">
												           <i class="fa fa-edit"></i> Editar
												        </a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						
						
					</div>
				</div>
				
				<!-- TAB 3 -->
				<div class="tab-pane" id="tab_3">
					<div class="row">
						<div class="col-md-6">
							<div class="small-box bg-aqua">
					            <div class="inner">
					              <p>Total de Receitas</p>
					              <h3>R$: 150,98</h3>
					            </div>
					            <div class="icon">
					              <i class="fa fa-arrow-up"></i>
					            </div>
					            <a href="#" class="small-box-footer"></a>
					          </div>
						</div>
						<div class="col-md-6">
							<div class="small-box bg-red">
					            <div class="inner">
					              <p>Total de Despesas</p>
					              <h3>R$: 58,00</h3>
					            </div>
					            <div class="icon">
					              <i class="fa fa-arrow-down"></i>
					            </div>
					            <a href="#" class="small-box-footer"></a>
					          </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="small-box cor_atalho_dashboard">
					            <div class="inner">
					              <p>Total de Lançamentos</p>
					              <h3>15</h3>
					            </div>
					            <div class="icon">
					              <i class="fa fa-bookmark-o"></i>
					            </div>
					            <a href="#" class="small-box-footer"></a>
					          </div>
						</div>
						<div class="col-md-6">
							<div class="small-box bg-yellow">
					            <div class="inner">
					              <p>Total Pendente</p>
					              <h3>R$: 320,50</h3>
					            </div>
					            <div class="icon">
					              <i class="fa fa-retweet"></i>
					            </div>
					            <a href="#" class="small-box-footer"></a>
					          </div>
						</div>
					</div>
					
					<div class="row">
					  <div class="col-md-12">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title"></h3>
								<div class="box-tools">
									<div class="input-group input-group-sm" style="width: 300px;">
										<input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Procurar a categoria"/>
										<div class="input-group-btn">
											<button class="btn btn-sm btn-default">
												<i class="fa fa-search"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="box-body">
								<table class="table table-condensed table-hover">
									<thead>
										<tr>
											<th style="width: 30px;">Tipo</th>
											<th>Parcela</th>
											<th>Descrição</th>
											<th>Valor</th>
											<th>Vencimento</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><span class="label label-primary">Receita</span></td>
											<td>1 de 1</td>
											<td>Venda</td>
											<td>R$: 235,00</td>
											<td>12/09/2016</td>
											<td><span class="label label-success">Pago</span></td>
										</tr>
										<tr>
											<td><span class="label label-danger">Despesa</span></td>
											<td>1 de 1</td>
											<td>Cliente não pagou pelo serviço</td>
											<td>R$: 15,58</td>
											<td>12/09/2016</td>
											<td><span class="label label-success">Pago</span></td>
										</tr>
										<tr>
											<td><span class="label label-primary">Receita</span></td>
											<td>1 de 1</td>
											<td>Cliente não pagou pelo serviço</td>
											<td>R$: 405,00</td>
											<td>12/09/2016</td>
											<td><span class="label label-warning">Pendente</span></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="box-footer clearfix">
								<ul class="pagination pagination-sm no-margin pull-right">
									<li><a href="#">&laquo;</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>
							</div>
						</div>
					  </div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>