<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<meta charset="UTF-8" />
<title>Listagem de Cliente</title>

</head>

<body>

	<section layout:fragment="header">
		<br />
		<ol class="breadcrumb">
			<li><a th:href="@{/cliente}"> <i
					class="fa fa-pencil-square-o"></i> Listagem de cliente
			</a></li>
			<li class="active">Dados do cliente</li>
		</ol>
	</section>

	<div layout:fragment="content">

		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab_1" data-toggle="tab">Dados
						do cliente</a></li>
				<li><a href="#tab_2" data-toggle="tab">Ordens de serviço</a></li>
				<li class="pull-right">
					<a href="#" class="text-muted" style="color: black;"></a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab_1">
					<div class="box-group" id="dados">
						<div class="panel box box-primary">
							<div class="box-header with-border">
								<h4 class="box-title">
									<a data-toggle="collapse" data-parent="#dados"
										href="#collapse1"><i class="fa fa-list"></i> Dados
										pessoais </a>
								</h4>
							</div>
							<div id="collapse1" class="panel-collapse collapse in">
								<div class="box-body">
									<table class="table table-condensed table-hover">
										<thead>
										</thead>
										<tbody>
											<tr>
												<td style="width: 150px; font-weight: bold;">Nome</td>
												<td>Felipe Miguel dos Santos</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Documento</td>
												<td>755.626.215-78</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Data de cadatro</td>
												<td>24/09/2016</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<!-- 2 -->
						<div class="panel box box-primary">
							<div class="box-header with-border">
								<h4 class="box-title">
									<a data-toggle="collapse" data-parent="#dados" href="#collapse2"><i
										class="fa fa-list"></i> Contatos </a>
								</h4>
							</div>
							<div id="collapse2" class="panel-collapse collapse in">
								<div class="box-body">
									<table class="table table-condensed table-hover">
										<thead>
										</thead>
										<tbody>
											<tr>
												<td style="width: 150px; font-weight: bold;">Fone
													Residencial</td>
												<td>(62) 3564-4400</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Fone Celular</td>
												<td>(62) 99166-4455</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">E-mail</td>
												<td>felipeanalista3@gmail.com</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<!-- 3 -->
						<div class="panel box box-primary">
							<div class="box-header with-border">
								<h4 class="box-title">
									<a data-toggle="collapse" data-parent="#dados" href="#collapse3"><i
										class="fa fa-list"></i> Endereço </a>
								</h4>
							</div>
							<div id="collapse3" class="panel-collapse collapse">
								<div class="box-body">
									<table class="table table-condensed table-hover">
										<thead>
										</thead>
										<tbody>
											<tr>
												<td style="width: 150px; font-weight: bold;">Rua</td>
												<td>EF 01 QD 20 LT 50</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Número</td>
												<td>S/N</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Bairro</td>
												<td>Residencial Village Santa Rita III</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Cidade</td>
												<td>Cidade</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">CEP</td>
												<td>74395-645</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>
				
				<!-- TAB OS -->
				<div class="tab-pane" id="tab_2">
					<div class="box-group" id="os">
						<div class="panel box box-primary">
							<div class="box-header with-border">
								<h4 class="box-title">
									<a data-toggle="collapse" data-parent="#os" href="#collapse4">Ordem de Serviço de nº 350</a>
								</h4>
							</div>
							<div id="collapse4" class="panel-collapse collapse in">
								<div class="box-body">
									<table class="table table-condensed table-hover">
										<thead>
										</thead>
										<tbody>
											<tr>
												<td style="width: 150px; font-weight: bold;">Data Inicial</td>
												<td>19/09/2016</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Data Final</td>
												<td>27/09/2016</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Descrição</td>
												<td>
													5s4s40d0d4s5 5s4as40 asd6540a a65s4d0a6s54 asd405
													456540a65s4d6540 65a4s0d654as0 654as0d654as065 4
													646540a6s54d 06as54d0 6a5s4d0 6a5s4d065as406d54as 0
													565a4sd06 5a4s0d65 4as06d54 as06d54 a0s65d4 0a6s5 
													6a5s4d0 6a5s4d0 6as40 d65as406 d54as06d5 4as06d 540as
													6as54d 06a5s4d 06a5s4 06as54 d6a5s4d 65as40540540540
												</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Defeito</td>
												<td>
													654a0s65d40as654d0 a6540 6as54d06 as54d0 6as54d0 6as54
													65as4d06a5s4 6a5s40d 6a5s40d 6a5s4d 06as54d 06as54d 0a6s0
													as65d4as06 54da0s6 54d0as65 4da0s65d05d4 a06s5 0500540540
												</td>
											</tr>
											<tr>
												<td style="font-weight: bold;"></td>
												<td>
													<div class="row">
														<a class="btn btn-app">
												           <i class="fa fa-eye"></i> Visualizar
												        </a>
													    <a class="btn btn-app">
												           <i class="fa fa-edit"></i> Editar
												        </a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						
						<!-- 4 -->
						<div class="panel box box-primary">
							<div class="box-header with-border">
								<h4 class="box-title">
									<a data-toggle="collapse" data-parent="#os" href="#collapse5">Ordem de Serviço de nº 351</a>
								</h4>
							</div>
							<div id="collapse5" class="panel-collapse collapse">
								<div class="box-body">
									<table class="table table-condensed table-hover">
										<thead>
										</thead>
										<tbody>
											<tr>
												<td style="width: 150px; font-weight: bold;">Data Inicial</td>
												<td>19/09/2016</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Data Final</td>
												<td>27/09/2016</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Descrição</td>
												<td>
													5s4s40d0d4s5 5s4as40 asd6540a a65s4d0a6s54 asd405
													456540a65s4d6540 65a4s0d654as0 654as0d654as065 4
													646540a6s54d 06as54d0 6a5s4d0 6a5s4d065as406d54as 0
													565a4sd06 5a4s0d65 4as06d54 as06d54 a0s65d4 0a6s5 
													6a5s4d0 6a5s4d0 6as40 d65as406 d54as06d5 4as06d 540as
													6as54d 06a5s4d 06a5s4 06as54 d6a5s4d 65as40540540540
												</td>
											</tr>
											<tr>
												<td style="font-weight: bold;">Defeito</td>
												<td>
													654a0s65d40as654d0 a6540 6as54d06 as54d0 6as54d0 6as54
													65as4d06a5s4 6a5s40d 6a5s40d 6a5s4d 06as54d 06as54d 0a6s0
													as65d4as06 54da0s6 54d0as65 4da0s65d05d4 a06s5 0500540540
												</td>
											</tr>
											<tr>
												<td style="font-weight: bold;"></td>
												<td>
													<div class="row">
														<a class="btn btn-app">
												           <i class="fa fa-eye"></i> Visualizar
												        </a>
													    <a class="btn btn-app">
												           <i class="fa fa-edit"></i> Editar
												        </a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>