<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8" />
<title>Dashboard</title>
</head>
<body>

	<div layout:fragment="content">

		<div class="row">

			<div class="col-md-3">
				<!-- small box -->
				<div class="small-box" style="color: gray">
					<div class="inner">
						<span class="label label-danger">Setembro / 2016</span>
						<h1>R$: 1.500,50</h1>
						<p>Despesas pagas</p>
					</div>
					<div class="icon">
						<i class="ion ion-happy-outline"></i>
					</div>
					<span class="small-box-footer" style="color: black;">Todas do mês: R$ 2.200,00</span>
				</div>

			</div>
			<!-- ./col -->
			<div class="col-md-3">
				<!-- small box -->
				<div class="small-box" style="color: gray">
					<div class="inner">
						<span class="label label-danger">Setembro / 2016</span>
						<h1>R$:500,00</h1>
						<p>Despesas não pagas</p>
					</div>
					<div class="icon">
						<i class="ion ion-sad-outline"></i>
					</div>
					<span class="small-box-footer" style="color: black;">Todas do mês: R$ 2.200,00</span>
				</div>
			</div>
			<!-- ./col -->

			<div class="col-md-3">
				<!-- small box -->
				<div class="small-box" style="color: gray">
					<div class="inner">
						<span class="label label-info">Setembro / 2016</span>
						<h1>R$: 365,88</h1>
						<p>Receitas recebidas</p>
					</div>
					<div class="icon">
						<i class="ion ion-happy-outline"></i>
					</div>
					<span class="small-box-footer" style="color: black;">Todas do mês: R$ 900,00</span>
				</div>
			</div>
			<!-- ./col -->

			<div class="col-md-3">
				<!-- small box -->
				<div class="small-box" style="color: gray">
					<div class="inner">
						<span class="label label-info">Setembro / 2016</span>
						<h1>R$: 159,00</h1>
						<p>Receitas não recebidas</p>
					</div>
					<div class="icon">
						<i class="ion ion-sad-outline"></i>
					</div>
					<span class="small-box-footer" style="color: black;">Todas do mês: R$ 900,00</span>
				</div>
			</div>
			<!-- ./col -->
		</div>
		<!-- /.row -->

		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Resumo de Lançamentos</h3>
				<div class="box-tools pull-right">
					<span class="label label-default">Setembro / 2016</span>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body no-padding">
				<div class="row">
					<div class="col-md-6">
						<table class="table table-condensed">
							<tr>
								<th>Categoria de Despesa</th>
								<th>Valor</th>
							</tr>
							<tr>
								<td>Alimentação</td>
								<td><span class="label label-danger">R$: 250,00</span></td>
							</tr>
						</table>
					</div>
					<div class="col-md-6">
						<table class="table table-condensed">
							<tr>
								<th>Tipo de receita</th>
								<th>Valor</th>
							</tr>
							<tr>
								<td>Salário</td>
								<td><span class="label label-info">R$: 250,00</span></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->

		<div class="row">
			<div class="col-md-6">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Despesas vencidas ou a vencer</h3>
					</div>
					<div class="box-body">
						<table class="table table-condensed">
							<tr>
								<th>Tipo</th>
								<th>Vencimento</th>
								<th>Valor</th>
								<th>
									<i class="fa fa-check-square-o" aria-hidden="true"></i>
								</th>
							</tr>
							<tr>
								<td>Água</td>
								<td>11/09/2016</td>
								<td><span class="label label-danger">R$: 250,00</span></td>
								<td>
									<a href="#" style="color: black;"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Receitas a receber</h3>
					</div>
					<div class="box-body">
						<table class="table table-condensed">
							<tr>
								<th>Tipo</th>
								<th>Vencimento</th>
								<th>Valor</th>
								<th>
									<i class="fa fa-check-square-o" aria-hidden="true"></i>
								</th>
							</tr>
							<tr>
								<td>Água</td>
								<td>11/09/2016</td>
								<td><span class="label label-info">R$: 250,00</span></td>
								<td>
									<a href="#" style="color: black;"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>