<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<meta charset="UTF-8"/>
	<title>Dados O.S</title>
	
</head>

<body>

	<section layout:fragment="header">
		<br />
		
		<ol class="breadcrumb">
			<li>
				<a th:href="@{/os}">
					<i class="fa fa-desktop"></i>
					Ordem de Serviço
				</a>
			</li>
			<li class="active">Dados da ordem de serviço</li>
		</ol>
	</section>

	<div layout:fragment="content">
		  <div class="box">
		  	 <div class="box-body">
		  	 	<div class="row div_buttons">
		  	 			<a class="btn cor_atalho_dashboard">
		                	<span class="fa fa-edit"></span> Salvar
		                </a>
		  	 			<a class="btn cor_atalho_dashboard">
		                	<span class="fa fa-check-square-o"></span> Finalizar
		                </a>
		  	 			<a class="btn cor_atalho_dashboard">
		                	<span class="fa fa-print"></span> Imprimir
		                </a>
		  	 			<a class="btn cor_atalho_dashboard">
		                	<span class="fa fa-envelope-o"></span> Enviar por e-mail
		                </a>
		  	 			<a class="btn cor_atalho_dashboard">
		                	<span class="fa fa-file-pdf-o"></span> Gerar PDF
		                </a>
		  	 			<a class="btn cor_atalho_dashboard">
		                	<span class="fa fa-trash"></span> Excluir
		                </a>
		  	 	</div>
		  	 </div>
		  </div>
		  
		  <div class="box">
		  		<div class="box-body">
		  			<div class="nav-tabs-custom">
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#tab_1" data-toggle="tab">Informações</a></li>
							<li><a href="#tab_2" data-toggle="tab">Equipamentos</a></li>
							<li><a href="#tab_2" data-toggle="tab">Produtos</a></li>
							<li><a href="#tab_2" data-toggle="tab">Serviços</a></li>
							<li><a href="#tab_2" data-toggle="tab">Tarefas</a></li>
							<li><a href="#tab_2" data-toggle="tab">Financeiro</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab_1">
								<div class="box">
									<div class="box-header">
										Ordem de Serviço
									</div>
									<div class="box-body">
										<div class="row">
											<div class="col-md-2">
												<span style="background-color: white; position: relative; left: 20px;" class="info-box-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
											</div>
											<div class="col-md-10">
												<div class="row">
												<div class="col-md-12">
													<div class="sub_titulo">Informações do Cliente</div>
												</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														<label>Nome: </label> Felipe Miguel dos Santos
													</div>
													<div class="col-md-4">
														<label> Telefone: </label> (62) 99165-4455
													</div>
													<div class="col-md-4">
														<label> E-mail: </label> felipeanalista3@gmail.com
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<label> Endereço: </label> Rua EF 01 QD 20 LT 03
													</div>
												</div>
											</div>
										</div>
										
										<br></br>
										
										<div class="row">
											<div class="col-md-3">
												<div class="info-box cor_atalho_dashboard">
										            <span class="info-box-icon"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
										
										            <div class="info-box-content">
										              <span class="info-box-text">Nº Protocolo</span>
										              <span class="info-box-number">5</span>
										
										              <div class="progress">
										                <div class="progress-bar" style="width: 100%"></div>
										              </div>
										            </div>
										         </div>
											</div>
											<div class="col-md-3">
												<div class="info-box cor_atalho_dashboard">
										            <span class="info-box-icon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
										
										            <div class="info-box-content">
										              <span class="info-box-text">Data Criação</span>
										              <span class="info-box-number">25/09/2016</span>
										              <div class="progress">
										                <div class="progress-bar" style="width: 100%"></div>
										              </div>
										            </div>
										         </div>
											</div>
											<div class="col-md-3">
												<div class="info-box cor_atalho_dashboard">
										            <span class="info-box-icon"><i class="fa fa-bookmark-o" aria-hidden="true"></i></span>
										
										            <div class="info-box-content">
										              <span class="info-box-text">Status</span>
										              <span class="info-box-number">Aberta</span>
										              <div class="progress">
										                <div class="progress-bar" style="width: 100%"></div>
										              </div>
										            </div>
										         </div>
											</div>
											<div class="col-md-3">
												<div class="info-box cor_atalho_dashboard">
										            <span class="info-box-icon"><i class="fa fa-flag-o" aria-hidden="true"></i></span>
										
										            <div class="info-box-content">
										              <span class="info-box-text">Prioridade</span>
										              <span class="info-box-number">Urgente</span>
										              <div class="progress">
										                <div class="progress-bar" style="width: 100%"></div>
										              </div>
										            </div>
										         </div>
											</div>
										</div>
										
										<div class="box box-solid">
								            <div class="box-header with-border">
								              <h3 class="box-title sub_titulo">Descrição da Ordem de Serviço</h3>
								            </div>
								            <div class="box-body">
								            	Orasdasd aslkj lasjd laksjd lkajsd laksjd laksjd ajk 
								            	asdklja sldkjas lkasldkjas ldkjas ldkajs dalksjd as
								            	asldkjas ldkajs ldkjas da asdjkasldkja sldkja slkdj 
								            </div>
							          </div>
										
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab_2">
							</div>
						</div>
					</div>	
		  		</div>
		  </div>
	</div>
</body>
</html>